<a href="https://colab.research.google.com/github/Rokdahlia/PROGCOM-A/blob/main/Clase4_LISTAS_Trabajo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1

In [ ]:
for s in range(1,11,1):
  print(f"{s}^2 es: {s**2}")

1^2 es: 1
2^2 es: 4
3^2 es: 9
4^2 es: 16
5^2 es: 25
6^2 es: 36
7^2 es: 49
8^2 es: 64
9^2 es: 81
10^2 es: 100

###2

In [ ]:
lucas=[a for a in range(0,21) if a %2==0]
print(lucas)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

###3

In [ ]:
sopas=[]
for am in range(1,6):
  print(f"{am} X 2={am*2}")
  b=am*2
  sopas.append(b)
print(sopas)

1 X 2=2
2 X 2=4
3 X 2=6
4 X 2=8
5 X 2=10
[2, 4, 6, 8, 10]

###4

In [1]:
yu=("programacion")
papas = [ra for ra in yu if ra in "aeiou"]
print(papas)

['o', 'a', 'a', 'i', 'o']

###5

In [ ]:
uy=["python","java","c++"]
al=[ui.upper() for ui in uy]
print(al)

['PYTHON', 'JAVA', 'C++']

###6

In [4]:
op=[]
def ty():
  ju=[oi for oi in range(1,11) if oi %2==0]
  print(ju)
def tu():
  oh=[gj for gj in range(1,11) if gj %2!=0]
  print(oh)
u=input("Deseas conocer la lista del 1 al 10 en par o impar ")
if u == "par" or u == "PAR":
  ty()
else:
  tu()

Deseas conocer la lista del 1 al 10 en par o impar 2
[1, 3, 5, 7, 9]

###7

In [ ]:
g=[]
for io in range(1,6):
  t=(io,io**2)
  g.append(t)
print(g)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
po = [(rt, rt**2) for rt in range(1, 6)]
print(po)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

###8

In [ ]:
l= ["a", "b", "c"]
n= [1, 2, 3]
tr=[(t,i) for t in l for i in n]
print(tr)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

###9

In [ ]:
o=["sol","estrella","mar","planeta"]
acho=[r for r in o if len(r)>=4]
print(acho)

['estrella', 'planeta']

###10

In [ ]:
import random
tem=[random.randint(10,35) for a in range(10)]
cl=[f"{t}°C --> frio" if t < 18 else f"{t}°C --> templado" if t<=25 else f"{t}°C --> calido" for t in tem]
print("\n".join(cl))

21°C --> templado
22°C --> templado
23°C --> templado
14°C --> frio
20°C --> templado
28°C --> calido
24°C --> templado
10°C --> frio
12°C --> frio
19°C --> templado