<a href="https://colab.research.google.com/github/Rokdahlia/PROGCOM-A/blob/main/tercera_cosa_de_ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1

In [ ]:
def cuadrado(a):
  return f"El cuadrado de {a} es {a**2}"
a=cuadrado(5)
print(a)

El cuadrado de 5 es 25

In [ ]:
cuadrado=lambda x:(x**2)
cuadrado(5)

25

###2

In [ ]:
import random
def saludo(onichan):
  culo = [
      f"Hola {onichan}, ¡qué alegría verte hoy!",
      f"Bienvenido {onichan}, espero que tu día sea increíble.",
      f"¡Hola {onichan}! Te estaba esperando con mucha energía positiva.",
      f"Saludos cordiales, {onichan}. Que todo te vaya excelente!",
      f"¡Muy buenos días, {onichan}! :)",
      f"Qué gusto saludarte, {onichan}. ¡Vamos por un gran día!",
      f" {onichan}, recuerda que eres una persona única y especial.",
      f"¡Hola {onichan}! Hoy es un gran día para sonreír.",
      f"Bienvenido {onichan}, que la luz te acompañe siempre.",
      f"Hey {onichan}! Me alegra mucho verte por aquí.",
      f"Hola {onichan}, que cada paso que des hoy te acerque a tus sueños.",
      f"Saludos, {onichan}! Que tengas un día lleno de magia.",
      f" {onichan}, eres una fuente de inspiración para los demás.",
      f"¡Hola {onichan}! Que la alegría sea tu compañera hoy.",
      f"Bienvenido {onichan}, Igracias por estar aquí!",
      f"Qué honor tenerte aquí, {onichan}. ;)",
      f"¡Hola {onichan}! Nunca olvides lo valioso que eres.",
      f"Saludos cálidos para ti, {onichan}.",
      f"Hola {onichan}, hoy es un día perfecto para empezar algo nuevo!",
      f"¡Hola querido {onichan}! Estoy feliz de compartir este momento contigo."
  ]
  return random.choice(culo)
print(saludo("malparido"))

Hola malparido, ¡qué alegría verte hoy!

In [ ]:
saludos=lambda tali: random.choice([ f"Hola {tali},qué alegría verte hoy!",
      f"Bienvenido {tali}, espero que tu día sea increible.",
      f"¡Hola {tali}! Te estaba esperando con mucha energía positiva.",
      f"Saludos cordiales, {tali}. Que todo te vaya excelente!",
      f"¡Muy buenos días, {tali}! :)",
      f"Qué gusto saludarte, {tali}. ¡Vamos por un gran día!",
      f"{tali}, recuerda que eres una persona única y especial.",
      f"¡Hola {tali}! Hoy es un gran día para sonreír.",
      f"Bienvenido {tali}, que la luz te acompañe siempre.",
      f"Hey {tali}! Me alegra mucho verte por aquí.",
      f"Hola {tali}, que cada paso que des hoy te acerque a tus sueños.",
      f"Saludos, {tali}! Que tengas un día lleno de magia.",
      f"{tali}, eres una fuente de inspiración para los demás.",
      f"¡Hola {tali}! Que la alegría sea tu compañera hoy.",
      f"Bienvenido {tali}, igracias por estar aquí!",
      f"Qué honor tenerte aquí, {tali}. ;)",
      f"Hola {tali}! Nunca olvides lo valioso que eres.",
      f"Saludos cálidos para ti, {tali}.",
      f"Hola {tali}, hoy es un día perfecto para empezar algo nuevo!",
      f"¡Hola querido {tali}! Estoy feliz de compartir este momento contigo."])
saludos("Anderson")

'Qué honor tenerte aquí, Anderson. ;)'

###3

In [ ]:
def ma(a,b):
  print(f"La suma de {a} + {b} es {a+b}")
  print(f"La resta de {a} - {b} es {a-b}")
  print(f"La multiplicación de {a} + {b} es {a*b}")
  print(f"La divición de {a} + {b} es {a/b}")
ma(2,9)

La suma de 2 + 9 es 11
La resta de 2 - 9 es -7
La multiplicación de 2 + 9 es 18
La divición de 2 + 9 es 0.2222222222222222

In [ ]:
ma=lambda a,b:(a+b,a-b,a*b,a/b)
ma (2,9)

(11, -7, 18, 0.2222222222222222)

###4

In [ ]:
def edad(a):
  if a>=18:
    print("eres mayor de edad")
  else:
    print("eres menor de edad")
    return
edad (19)

eres mayor de edad

In [ ]:
edad=lambda a:("eres mayor de edad" if a>=18 else "eres menor de edad")
edad (13)

'eres menor de edad'

###5

In [ ]:
def pali(t):
  if t == t[::-1]:
    print("es palindromo")
  else:
    print("no es palindromo")
pali("lucas")

no es palindromo

In [ ]:
pali=lambda t: "es palindromo" if t==t[::-1] else "no es palindromo"
pali("mierda")

'no es palindromo'

###6

In [ ]:
def y(g):
  print(len(g))
y("hola")
y("dasdsad")

4
7

In [ ]:
y=lambda g: len(g)
y("lucas")

5

###7

In [ ]:
def t(f):
  return sum(f)
print(t([1,2,3,4,5]))

15

In [ ]:
t=lambda f:sum(f)
print(t([1, 2, 3, 4, 5]))

15

###8

In [ ]:
def m(u):
  print(max(u),min(u))
m([1,2,3,4,5])

5 1

In [ ]:
m=lambda u: (max(u),min(u))
print(m([1,2,3,4,5]))

(5, 1)

###9

In [ ]:
def b(ij):
  print(ij[::-1])
b([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [ ]:
b=lambda kl: (kl[::-1])
print(b([1,2,3,4,5]))

[5, 4, 3, 2, 1]

###10

In [ ]:
def kj(dl):
  resultado = []
  for h in dl:
    if h[0].lower() in "aeiou":
      resultado.append(h)
  return resultado

nombres = ["lucas", "marie", "mafe", "mierdas", "Ana", "Sofía", "alejandro", "Maria"]
print(kj(nombres))

['Ana', 'alejandro']

In [ ]:
kj = lambda dl: [h for h in dl if h[0].lower() in "aeiou"]
nombres = ["lucas", "marie", "mafe", "mierdas", "Ana", "Sofía", "alejandro", "Maria"]
print(kj(nombres))

['Ana', 'alejandro']

###11

In [ ]:
def v(kp):
 return list(set(kp))
print(v([1, 2, 2, 3, 4, 4, 5, 4, "f", "f"]))

[1, 2, 3, 4, 5, 'f']

In [ ]:
v=lambda kp: list(set(kp))
print(v([1, 2, 2, 3, 4, 4, 5, 4, "f", "f"]))

[1, 2, 3, 4, 5, 'f']

###12

In [ ]:
def primos_en_lista(ef):
    ola=[]
    for n in ef:
        if n > 1:
          shinc = True
          for i in range(2, n):
              if n % i == 0:
                  shinc = False
                  break

        if shinc:

          ola.append(n)

    return ola

numeros = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11,13,15,17]
print(primos_en_lista(numeros))

[2, 3, 5, 7, 11, 13, 17]

In [ ]:
df = lambda ef: [n for n in ef if n > 1 and all(n % i != 0 for i in range(2, n))]
numeros = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17]
print(primos_en_lista(numeros))

[2, 3, 5, 7, 11, 13, 17]

###13

In [ ]:
def ms(dic):
    nombre = dic["nombre"]
    edad = dic["edad"]
    return f"El nombre es {nombre} y tiene {edad} años."
persona = {"nombre": "Ana", "edad": 25}
print(ms(persona))

El nombre es Ana y tiene 25 años.

In [ ]:
ms = lambda dic: f"El nombre es {dic['nombre']} y tiene {dic['edad']} años."
persona = {"nombre": "lucas", "edad": 20}
print(ms(persona))

El nombre es lucas y tiene 20 años.

###14

In [ ]:
def xz(qu):
    ab=0
    for rt in qu.values():
      ab += rt
    return ab
productos = {"pan": 3088, "leche": 4598, "queso": 12000}
print(xz(productos))

19686

In [ ]:
xz = lambda qu: sum(qu.values())
productos = {"pan": 3000, "leche": 4500, "queso": 12000}
print(xz(productos))

19500

###15

In [ ]:
def kl(zx):
    rt = sum(zx.values())
    qp = len(zx)
    return rt / qp if qp > 0 else o
st = {"Ana": 4.5, "Carlos": 3.8, "Maria": 4.2}
print(kl(st))

4.166666666666667

In [ ]:
k1= lambda zx: sum(zx.values()) / len(zx) if len(zx) > 0 else 9
st = {"Ana": 4.5, "Carlos": 3.8, "Maria": 4.2}
print(kl(st))

4.166666666666667

###16

In [ ]:
def hj(xz, nm):
    return xz[nm] if nm in xz else "no encontrado"
st = {"Ana": 4.5, "Carlos": 3.8, "Maria": 4.9}
print(hj(st, "Carlos"))
print(hj(st, "pedro"))

3.8
no encontrado

In [ ]:
hj = lambda xz, nm: xz[nm] if nm in xz else "no encontrado"
st = {"Ana": 4.5, "Carlos": 3.8, "Maria": 4.9}
print(hj(st, "Ana"))
print(hj(st, "Luis"))

4.5
no encontrado

###17

In [ ]:
def fg(y):
    ab = max(y, key=y.get)
    return ab
st = {"Ana": 4.5, "Carlos": 3.8, "Maria": 4.9}
print(fg(st))

Maria

In [ ]:
fg= lambda xy: max(xy, key=xy.get)
st = {"Ana": 4.5, "Carlos": 3.8, "Maria": 4.9}
print(fg(st))

Maria

###18

In [ ]:
def rt(qu, vl):
    rs = {}
    for k, v in qu.items():
        if v > vl:
            rs[k] = v
    return rs
pr = {"pan": 3000, "leche": 4500, "queso": 12000, "huevos": 2000}
print(rt(pr, 4000))

{'leche': 4500, 'queso': 12000}

In [ ]:
rt= lambda qu, vl: {k: v for k, v in qu.items() if v > vl}
pr = {"pan": 3600, "leche": 4588, "queso": 12688, "huevos": 2688}
print(rt(pr, 4000))

{'leche': 4588, 'queso': 12688}

###19

In [ ]:
def zx(qu):
    rs = {}
    for k, v in qu.items():
        rs[k] = sum(v)
    return rs
st = {
    "Ana": [5, 6, 4],
    "Carlos": [8, 7, 6],
    "María": [4, 4, 5, 6]
}
print(zx(st))

{'Ana': 15, 'Carlos': 21, 'María': 19}

In [ ]:
zx= lambda qu: {k: sum(v) for k, v in qu.items()}
st = {
    "Ana": [5, 6, 4],
    "Carlos": [8, 7, 6],
    "María": [4, 4, 5, 6]
}
print(zx(st))

{'Ana': 15, 'Carlos': 21, 'María': 19}

###20

In [ ]:
def rt(qu):
    nt = [v["nota"] for v in qu.values() if v["edad"] >= 18]
    return sum(nt) / len(nt) if nt else 0
st = {
"Ana": {"nota": 4.5, "edad": 17},
"Carlos": {"nota": 3.8, "edad": 28},
"María": {"nota": 4.9, "edad": 22},
}
print(rt(st))

4.35

In [ ]:
rt = lambda qu: (
    sum(v["nota"] for v in qu.values() if v["edad"] >= 18) /
    len([v for v in qu.values() if v["edad"] >= 18])
    if any(v["edad"] >= 18 for v in qu.values()) else 0
)

st = {
    "Ana": {"nota": 4.5, "edad": 17},
    "Carlos": {"nota": 3.8, "edad": 28},
    "María": {"nota": 4.9, "edad": 22},
}

print(rt(st))

4.35